@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */ }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
    /* Chrome */ }

body::before {
  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.15; }

header {
  background-color: white; }
  header nav {
    background-color: #c2bb5f; }
    header nav li {
      text-align: center; }
      header nav li a {
        color: white;
        font-size: clamp(1rem, 3vw, 1.53rem);
        margin: 0px 20px; }
        header nav li a:hover, header nav li a.activo {
          color: white;
          background: linear-gradient(90deg, #c2bb5f 0%, rgba(140, 140, 70, 0.6) 50%, #c2bb5f 100%); }

main h1 {
  color: #70560D;
  font-size: clamp(13px, 6vw, 40px);
  text-align: center; }

main p {
  font-family: "Castoro", serif;
  font-size: 1.1rem; }

main ul {
  list-style-type: square;
  font-family: "Castoro", serif;
  font-size: 1.1rem; }
  main ul:before {
    margin: 0 -5%;
    font-family: "Castoro", serif;
    content: attr(aria-label);
    font-size: 1.4rem;
    font-weight: bold; }

table, .card, #calesita {
  background: rgba(236, 236, 236, 0.8);
  box-shadow: 0 0 10px 5px white; }

.card:hover {
  z-index: 9999; }

.porta_footer {
  background: #848151;
  width: auto !important; }

footer {
  max-width: 1600px; }
  footer ul {
    color: white; }
    footer ul:before {
      content: attr(aria-label);
      font-size: 1.2rem;
      font-weight: bold; }
    footer ul li, footer ul .nav-item {
      padding: 0.35rem 0;
      white-space: pre;
      font-size: 1rem;
      font-weight: normal;
      display: block; }
      footer ul li a, footer ul .nav-item a {
        text-decoration: none;
        color: white; }
        footer ul li a:hover, footer ul li a.activo, footer ul .nav-item a:hover, footer ul .nav-item a.activo {
          font-weight: bold; }

form {
  width: 100%;
  padding: 25px 0px 0px 0px; }
  form label {
    padding: 5px 0px 0px 0px; }
  form textarea {
    margin: 0px 0px 10px 0px; }
  form .botones {
    display: flex;
    justify-content: space-between; }
    form .botones input {
      flex-grow: 1;
      color: white;
      background-color: #c2bb5f;
      border: none;
      margin: 3px; }

#calesita {
  max-width: 820px; }
  #calesita .carousel-inner {
    overflow: hidden; }
    #calesita .carousel-inner > img {
      object-fit: cover;
      box-sizing: content-box;
      max-height: 100%; }

#tabla_pedidos_compuesta .cantidad_unidades {
  display: inline-flex;
  vertical-align: middle; }

#tabla_pedidos_compuesta .boton_menos:after {
  border: 0px;
  content: "\002212";
  font-size: 20px;
  line-height: 15px;
  font-weight: bold; }

#tabla_pedidos_compuesta .boton_mas:after {
  border: 0px;
  content: "\00002B";
  font-size: 20px;
  line-height: 15px;
  font-weight: bold; }

#tabla_pedidos_compuesta button {
  border: none;
  background: none;
  margin: 3px;
  height: 1.5rem;
  vertical-align: middle; }

#pedidos .order_desktop {
  animation: aparece 0.7s;
  width: 130px;
  height: 60px;
  position: fixed;
  top: 10vh;
  right: 0px;
  z-index: 9999; }
  #pedidos .order_desktop img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%; }
    #pedidos .order_desktop img:hover {
      transform: scale(1.1); }

#pedidos .order_mobile {
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px; }

@media (max-width: 950px) {
  #calesita {
    max-width: 100%; }
  #pedidos {
    height: 1px;
    background: #848151; }
    #pedidos .order_mobile {
      animation: aparece 0.7s;
      border-radius: 50px;
      opacity: 1;
      width: 74px;
      height: 74px;
      background-color: red;
      position: fixed;
      top: 80vh;
      right: 9px;
      z-index: 9999; }
      #pedidos .order_mobile img {
        border-radius: 55px;
        width: 100%;
        height: 100%; }
        #pedidos .order_mobile img:hover {
          transform: scale(1.1); }
    #pedidos .order_desktop {
      width: 1px;
      height: 1px;
      z-index: -1;
      opacity: 0; } }

@media (max-width: 750.99px) {
  header .header-logo {
    text-align: center;
    /* Centered text */ }
    header .header-logo img {
      margin: 0; }
    header .header-logo p {
      white-space: pre;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(13px, 7.4vw, 85px);
      color: #c2bb5f;
      font-family: "Lobster", cursive; }
  footer .footer-logo {
    text-align: center;
    /* Centered text */ }
    footer .footer-logo img {
      margin: 0; }
    footer .footer-logo p {
      white-space: pre;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(38px, 10.4vw, 80px);
      color: #c2bb5f;
      font-family: "Lobster", cursive; } }

@media (min-width: 751px) and (max-width: 99991.98px) {
  header .header-logo {
    text-align: center;
    /* Centered text */ }
    header .header-logo img {
      margin: 0; }
    header .header-logo p {
      white-space: pre;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(13px, 7.4vw, 85px);
      color: #c2bb5f;
      font-family: "Lobster", cursive; }
  footer .footer-logo {
    text-align: center;
    /* Centered text */ }
    footer .footer-logo img {
      margin: 0; }
    footer .footer-logo p {
      white-space: pre;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(13px, 3.4vw, 50px);
      color: #c2bb5f;
      font-family: "Lobster", cursive; } }

.botonera_productos {
  display: inline-block; }
  .botonera_productos .number-spinner {
    max-width: auto;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #e2e2e2;
    overflow: hidden;
    position: relative;
    display: table; }
    .botonera_productos .number-spinner input {
      height: 40px;
      max-height: 40px;
      line-height: 40px;
      max-width: 100px;
      font-size: 1.5em;
      padding: 0;
      margin: 0;
      border: none;
      position: relative;
      float: left;
      width: 100%;
      text-align: center; }
      .botonera_productos .number-spinner input:focus {
        outline: none; }
    .botonera_productos .number-spinner .ns-btna {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      cursor: pointer;
      max-width: 200px; }
    .botonera_productos .number-spinner .ns-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      cursor: pointer; }
      .botonera_productos .number-spinner .ns-btn a {
        height: 40px;
        min-height: 40px;
        width: 40px;
        padding: 0;
        max-width: 40px;
        line-height: 40px;
        border-radius: 0;
        border: none;
        text-align: center;
        position: relative;
        background: #e2e2e2;
        color: #333;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none; }
      .botonera_productos .number-spinner .ns-btn .icon-add:after {
        content: "Agregar";
        font-size: 20px;
        line-height: 38px;
        font-weight: bold;
        width: 200px; }
      .botonera_productos .number-spinner .ns-btn .icon-minus:after {
        content: "\002212";
        font-size: 35px;
        line-height: 38px;
        font-weight: bold; }
      .botonera_productos .number-spinner .ns-btn .icon-plus:after {
        content: "\00002B";
        font-size: 38px;
        line-height: 35px;
        font-weight: bold; }
